body {
    background-color: #f5f5f5;
    font-family: 'sans-serif', sans-serif;
}


.custom-header {
    color: #245378;
    text-align: center;
    padding: 5px 0;
}

.sub-header {
    color: #31708f;
    text-align: center;
    margin-top: 5px;
}

.image-container {
    text-align: center;
}

.content-box {
    background-color: #ffffff;
    border: 2px solid #31708f;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.weekly-schedule {
    border: 2px solid #31708f; 
    padding: 20px;
    margin: 40px auto;
}

.weekly-schedule table {
    width: 100%;
    border-collapse: collapse;
}

.weekly-schedule th, .weekly-schedule td {
    border: 2px solid #31708f;
    padding: 10px;
    text-align: center;
}

.bullet-box {
    background-color: #ffffff;
    border: 2px solid #31708f;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
}